<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<div id="header" th:fragment="header-fragment">	
		<header>
			<div>
				<a>
					<img  id="headerLogo" th:src="@{/images/logo.png}" alt="monos">
				</a>
			</div>
			<div id="headerRightbox">
				<div id="headerUserInfo">
					<div>
						<img th:src="@{/images/company.png}" alt="compnay">
						<span sec:authentication="principal.companyName"></span>
					</div>
					<div>
						<img th:src="@{/images/user.png}" alt="compnay">
						<span sec:authentication="principal.name"></span>
					</div>
				</div>
				<div id="headerLogout">
					<form th:action="@{/logout}" method="post">
						<button class="btn main-btn-reversal">ログアウト</button>
					</form>
				</div>
			</div>
		</header>
		
		<nav class="navbar navbar-expand-lg navbar-dark">
		  <div class="container-fluid">
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNavDropdown">
		      <ul class="navbar-nav">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="#">ホーム</a>
		        </li>
		        <li sec:authorize="hasRole('ADMIN')" class="nav-item dropdown">
		          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            マスタ
		          </a>
		          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		            <li><a class="dropdown-item" th:href="@{/users}">ユーザ一覧</a></li>
		            <li><a class="dropdown-item" th:href="@{/products}">商品一覧</a></li>
		          </ul>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
	</div>
</html>
