<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.monos.mapper.InboundResultMapper">
  	  <!-- SQL -->  
	  <select id="selectTotalResultQty" resultType="int">
		   	SELECT
   				 COALESCE(SUM(ires.result_qty), 0) 
			FROM
			    inbound_results AS ires
			WHERE
				ires.inbound_schedule_id = #{inboundScheduleId}
				AND ires.company_id = #{companyId};
		</select>
		
		<insert id="insert" parameterType="com.example.monos.domain.InboundResult" useGeneratedKeys="true" keyProperty="inboundResultId">
			INSERT INTO inbound_results(
				company_id,
				inbound_schedule_id,
				result_qty,
				result_date
			)
			VALUES(
				#{companyId},
				#{inboundScheduleId},
				#{resultQty},
				#{resultDate}
			)
		</insert>
</mapper>