<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.monos.mapper.InventoryMapper">
  <!-- SQL -->
		<select id="selectList" resultType="com.example.monos.dto.InventoryListDto">
		   	SELECT
   				 ivtr.inventory_id,
   				 proc.product_code,
   				 proc.name AS product_name,
   				 wrhs.warehouse_code,
   				 wrhs.name AS warehouse_name,
   				 ivtr.on_hand_qty,
   				 COALESCE(osch.total_schedule_qty, 0) AS total_schedule_qty
			FROM
				 inventories AS ivtr
				JOIN products AS proc
					ON ivtr.company_id = proc.company_id
					AND ivtr.product_id = proc.product_id
				JOIN warehouses AS wrhs
					ON ivtr.company_id = wrhs.company_id
					AND ivtr.warehouse_id = wrhs.warehouse_id
				LEFT JOIN
					(SELECT
						inventory_id,
						SUM(schedule_qty) AS total_schedule_qty
					 FROM
					 	outbound_schedules
					 WHERE
					 	company_id = #{companyId}
						AND status IN ('0', '1')
					 GROUP BY
						inventory_id
					) AS osch
					ON ivtr.inventory_id = osch.inventory_id
			WHERE
				ivtr.company_id = #{companyId}
				<if test="productCode != null and productCode != ''">
					AND proc.product_code LIKE CONCAT('%', #{productCode}, '%')
				</if>
				<if test="productName != null and productName != ''">
					AND proc.name LIKE CONCAT('%', #{productName}, '%')
				</if>
				<if test="warehouseCode != null and warehouseCode != ''">
					AND wrhs.warehouse_code LIKE CONCAT('%', #{warehouseCode}, '%')
				</if>
				<if test="warehouseName != null and warehouseName != ''">
					AND wrhs.name LIKE CONCAT('%', #{warehouseName}, '%')
				</if>
				<if test="stockOut == true">
					AND ivtr.on_hand_qty = 0
				</if>
		</select>

		<select id="selectById" resultType="com.example.monos.domain.Inventory">
		   	SELECT
   				 ivtr.inventory_id,
   				 ivtr.company_id,
   				 ivtr.product_id,
   				 ivtr.warehouse_id,
   				 ivtr.on_hand_qty,
   				 ivtr.version,
   				 ivtr.created_at,
   				 ivtr.updated_at,
   				 ivtr.deleted_at
			FROM
			    inventories AS ivtr
			WHERE
				ivtr.inventory_id = #{inventoryId}
				AND ivtr.company_id = #{companyId}
		</select>
		
		<select id="selectByIdAndVersion" resultType="com.example.monos.domain.Inventory">
		   	SELECT
   				 ivtr.inventory_id,
   				 ivtr.company_id,
   				 ivtr.product_id,
   				 ivtr.warehouse_id,
   				 ivtr.on_hand_qty,
   				 ivtr.version,
   				 ivtr.created_at,
   				 ivtr.updated_at,
   				 ivtr.deleted_at
			FROM
			    inventories AS ivtr
			WHERE
				ivtr.inventory_id = #{inventoryId}
				AND ivtr.version = #{version}
		</select>

		<select id="selectByProductIdAndWarehouseId" resultType="com.example.monos.domain.Inventory">
		   	SELECT
    				ivtr.inventory_id,
    				ivtr.company_id,
    				ivtr.product_id,
    				ivtr.warehouse_id,
    				ivtr.on_hand_qty,
    				ivtr.version,
    				ivtr.created_at,
    				ivtr.updated_at,
    				ivtr.deleted_at
			FROM
			    inventories AS ivtr
			WHERE
				ivtr.company_id = #{companyId}
				AND ivtr.product_id = #{productId}
				AND ivtr.warehouse_id = #{warehouseId}
		</select>

		<select id="selectAvailableInventories" resultType="com.example.monos.dto.AvaliableInventoryDto">
		   	SELECT
		         ivtr.inventory_id,
				 ivtr.version,     
   				 wrhs.warehouse_code,
   				 wrhs.name AS warehouse_name,
   				 COALESCE(ivtr.on_hand_qty - COALESCE(osch.total_schedule_qty, 0), 0) AS available_qty
			FROM
				 inventories AS ivtr
				JOIN warehouses AS wrhs
					ON ivtr.company_id = wrhs.company_id
					AND ivtr.warehouse_id = wrhs.warehouse_id
				LEFT JOIN 
					<!-- 各在庫の未出庫・出庫中の予定数量を集計 -->
					(SELECT
						inventory_id,
						SUM(schedule_qty) AS total_schedule_qty
					 FROM
					 	outbound_schedules
					 WHERE
					    <if test="outboundScheduleId != null">
							outbound_schedule_id &lt;&gt; #{outboundScheduleId} AND
						</if>
					 	company_id = #{companyId}
						AND status IN ('0', '1')
					 GROUP BY
						inventory_id
					) AS osch
					ON ivtr.inventory_id = osch.inventory_id
			WHERE
				ivtr.company_id = #{companyId}
				AND ivtr.product_id = #{productId}
		</select>
		
		<insert id="insert" useGeneratedKeys="true" keyProperty="inventoryId">
			INSERT INTO inventories(
				company_id,
				product_id,
				warehouse_id,
				on_hand_qty
			)
			VALUES(
				#{companyId},
				#{productId},
				#{warehouseId},
				#{onHandQty}
			)
		</insert>
		
		<update id="updateOnHandQty">
			UPDATE inventories 
			SET
				on_hand_qty = on_hand_qty + #{inboundQty},
				version = version + 1,
				updated_at = transaction_timestamp()
			WHERE
				inventory_id = #{inventory.inventoryId}
				AND company_id = #{inventory.companyId}
				AND version = #{inventory.version}
		</update>
		
		<update id="updateVersion">
			UPDATE inventories 
			SET
				version = version + 1,
				updated_at = transaction_timestamp()
			WHERE
				inventory_id = #{inventory.inventoryId}
				AND company_id = #{inventory.companyId}
				AND version = #{inventory.version}
		</update>
</mapper>