<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.monos.mapper.InventoryMapper">
  <!-- SQL -->
		<select id="selectList" resultType="com.example.monos.dto.InventoryListDto">
		   	SELECT
   				 ivtr.inventory_id,
   				 proc.product_code,
   				 proc.name AS product_name,
   				 wrhs.warehouse_code,
   				 wrhs.name AS warehouse_name,
   				 ivtr.on_hand_qty,
   				 ivtr.reseved_qty
			FROM
				 inventories AS ivtr
				JOIN products AS proc
					ON ivtr.company_id = proc.company_id
					AND ivtr.product_id = proc.product_id
				JOIN warehouses AS wrhs
					ON ivtr.company_id = wrhs.company_id
					AND ivtr.warehouse_id = wrhs.warehouse_id
			WHERE
				ivtr.company_id = #{companyId}
				<if test="productCode != null and productCode != ''">
					AND proc.product_code LIKE CONCAT('%', #{productCode}, '%')
				</if>
				<if test="productName != null and productName != ''">
					AND proc.name LIKE CONCAT('%', #{productName}, '%')
				</if>
				<if test="warehouseCode != null and warehouseCode != ''">
					AND wrhs.warehouse_code LIKE CONCAT('%', #{warehouseCode}, '%')
				</if>
				<if test="warehouseName != null and warehouseName != ''">
					AND wrhs.name LIKE CONCAT('%', #{warehouseName}, '%')
				</if>
				<if test="stockOut == true">
					AND ivtr.on_hand_qty = 0
				</if>
		</select>

		<select id="selectWarehouseAvailabilities" resultType="com.example.monos.dto.WarehouseAvailabilityDto">
		   	SELECT
   				 wrhs.warehouse_id,
   				 wrhs.warehouse_code,
   				 wrhs.name AS warehouse_name,
   				 COALESCE(ivtr.on_hand_qty - ivtr.reseved_qty, 0) AS available_qty
			FROM
				 inventories AS ivtr
				JOIN warehouses AS wrhs
					ON ivtr.company_id = wrhs.company_id
					AND ivtr.warehouse_id = wrhs.warehouse_id
			WHERE
				ivtr.company_id = #{companyId}
				AND ivtr.product_id = #{productId}
		</select>

	  	<select id="selectByProductIdAndWarehouseId" resultType="com.example.monos.domain.Inventory">
		   	SELECT
   				 ivtr.inventory_id,
   				 ivtr.company_id,
   				 ivtr.product_id,
   				 ivtr.warehouse_id,
   				 ivtr.on_hand_qty,
   				 ivtr.reseved_qty,
   				 ivtr.version,
   				 ivtr.created_at,
   				 ivtr.updated_at,
   				 ivtr.deleted_at
			FROM
			    inventories AS ivtr
			WHERE
				ivtr.company_id = #{companyId}
				AND ivtr.product_id = #{productId}
				AND ivtr.warehouse_id = #{warehouseId};
		</select>
		
		<insert id="insert" useGeneratedKeys="true" keyProperty="inventoryId">
			INSERT INTO inventories(
				company_id,
				product_id,
				warehouse_id,
				on_hand_qty
			)
			VALUES(
				#{companyId},
				#{productId},
				#{warehouseId},
				#{onHandQty}
			)
		</insert>
		
		<update id="updateOnHandQty">
			UPDATE inventories 
			SET
				on_hand_qty = on_hand_qty + #{inboundQty},
				version = version + 1,
				updated_at = transaction_timestamp()
			WHERE
				inventory_id = #{inventory.inventoryId}
				AND company_id = #{inventory.companyId}
				AND version = #{inventory.version}
		</update>
</mapper>