<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.monos.mapper.RoleMapper">
  <!-- 結果と結果を受け取るクラスの紐づけ -->
  <resultMap id="roleResultMap" type="com.example.monos.domain.Role">
    <result property="roleCode" column="role_code" />
    <result property="name" column="name"/>
    <result property="createdAt" column="created_at"/>
    <result property="updatedAt" column="updated_at"/>
  </resultMap>
  <!-- SQL -->  
  <select id="findAll" resultMap="roleResultMap">
			SELECT 
				r.role_code,
				r.name,
				r.created_at,
				r.updated_at 
			FROM 
				roles r
			ORDER BY
				r.role_code;
		</select>
</mapper>