<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.monos.mapper.WarehouseMapper">
  <!-- SQL -->  
	  <select id="selectList" resultType="com.example.monos.domain.Warehouse">
			SELECT 
				warehouse_id
				,company_id
				,warehouse_code
				,name
				,active
				,created_at
				,updated_at
				,deleted_at
			FROM 
				warehouses
			WHERE
				company_id = #{companyId}
				AND active = #{active}
				<if test="warehouseCode != null and warehouseCode != ''">
					AND warehouse_code LIKE CONCAT('%', #{warehouseCode}, '%')
				</if>
				<if test="name != null and name != ''">
					AND name LIKE CONCAT('%', #{name}, '%')
				</if>
			ORDER BY
				warehouse_code;
		</select>
		
		<select id="selectById" resultType="com.example.monos.domain.Warehouse">
			SELECT 
				warehouse_id
				,company_id
				,warehouse_code
				,name
				,active
				,created_at
				,updated_at
				,deleted_at
			FROM 
				warehouses
			WHERE
				warehouse_id = #{warehouseId}
				AND company_id = #{companyId}
		</select>
		
		<select id="existsByWarehouseCode" resultType="boolean">
			SELECT
				COUNT(*) > 0
			FROM
				warehouses
			WHERE
				warehouse_code = #{warehouseCode}
				AND company_id = #{companyId}
		</select>
		
		<select id="existsByWarehouseId" resultType="boolean">
			SELECT
				COUNT(*) > 0
			FROM
				warehouses
			WHERE
				warehouse_id = #{warehouseId}
				AND company_id = #{companyId}
		</select>
		
		<insert id="insert" parameterType="com.example.monos.domain.Warehouse" useGeneratedKeys="true" keyProperty="warehouseId">
			INSERT INTO warehouses(
				company_id,
				warehouse_code,
				name,
				active
			)
			VALUES(
				#{companyId},
				#{warehouseCode},
				#{name},
				#{active}
			)
		</insert>
		
		<update id="update" parameterType="com.example.monos.domain.Warehouse">
			UPDATE warehouses 
			SET
				name = #{name},
				active = #{active},
				updated_at = now()
			WHERE
				warehouse_id = #{warehouseId}
				AND company_id = #{companyId}
		</update>
</mapper>