/* データテーブル */
.data-table{
	overflow: auto;
	width: 100%;
	font-size:14px;
}
.data-table table{
	border-collapse: collapse;
	table-layout: fixed;
}
.data-table thead{
	position: sticky;
	top:0;
	z-index: 10;
	background: var(--main-color);
	color:#fff;
}
.data-table th,
.data-table td{
	padding: 0.5rem;
}
.data-table th{
	padding: relative;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
}
.data-table th::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 1px solid #999;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
}
.data-table td{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border: 1px solid #999;
}
.data-table td > a,
.data-table td > button{
	width: 100%;
	max-width: 80px;
}