<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{common/head :: head-fragment(title = '入庫予定一覧', scripts = ~{::script}, links = ~{})}">
		<script th:src="@{/scripts/inbound-schedules.js}"></script>
	</head>
	<body>
		<!-- ヘッダー -->
		<div th:replace="~{common/header :: header-fragment}"></div>
		
		<!-- メイン -->
		<main class="wrapper">
			
			<!--検索フォーム -->
			<form class="search-form" id="searchForm" th:action="@{/inboundschedules}" th:object="${inboundScheduleSearchForm}" method="get">
				<div class="form-row">
					<div class="form-field">
						<label>商品コード</label>
						<input type="text" th:field="*{productCode}">
					</div>
					<div class="form-field">
						<label>商品名</label>
						<input class="" type="text" th:field="*{productName}">
					</div>
					<div class="form-field">
						<label>倉庫コード</label>
						<input type="text" th:field="*{warehouseCode}">
					</div>
					<div class="form-field">
						<label>倉庫名</label>
						<input class="" type="text" th:field="*{warehouseName}">
					</div>
					<div class="form-field">
						<label for="active">状態</label>
						<select class="form-select"  th:field="*{statusValue}">
							<option th:each="status : ${statuses}" th:value="${status.code}">[[${status.name}]]</option>
						</select>
					</div>
					<div class="form-actions">
						<button class="btn search-btn" type="submit">検索</button>
					</div>
				</div>
			</form>
			
			<div id="proccessButtons">
				<button class="btn main-btn" data-bs-toggle="modal" data-bs-target="#inboundScheduleModal" onclick="openInboundScheduleAddModal()" >追加</button>
			</div>
			
			<div class="content">
				<div class="contentTitle">
					入庫予定一覧
				</div>
				<div class="data-table" style="height: 400px;">
					<table style="width: 1500px;">
						<thead>
							<tr>
								<th style="width: 7%;">状態</th>
								<th style="width: 10%;">商品コード</th>
								<th style="width: 20%;">商品名</th>
								<th style="width: 10%;">倉庫コード</th>
								<th style="width: 20%;">倉庫名</th>
								<th style="width: 8%;">予定数量</th>
								<th style="width: 10%;">予定日</th>
								<th style="width: 8%;">実績数量</th>
								<th style="width: 7%;"></th>
								<th style="width: 7%;"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="inboundschedule:${inboundschedules}" th:object="${inboundschedule}">
								<td th:text="*{status}"></td>
								<td th:text="*{productCode}"></td>
								<td th:text="*{productName}"></td>
								<td th:text="*{warehouseCode}"></td>
								<td th:text="*{warehouseName}"></td>
								<td th:text="*{scheduleQty}"></td>
								<td th:text="${#dates.format(inboundschedule.scheduleDate, 'yyyy/MM/dd')}"></td>
								<td></td>
								<td>
									<button class="btn main-btn" data-bs-toggle="modal" data-bs-target="#inboundScheduleModal" th:onclick="'openInboundScheduleUpdateModal(' + *{inboundScheduleId} + ')'">更新</button>
								</td>
								<td>
									<button class="btn main-btn" data-bs-toggle="modal" data-bs-target="#inboundResultModal" th:onclick="'openInboundResultAddModal(' + *{inboundScheduleId} + ')'">入庫</button>
								</td>
							</tr> 
						</tbody>
					</table>
				</div>
			</div>
			
			<!-- モーダル -->
			<div class="modal fade" data-bs-backdrop="static" id="inboundScheduleModal" tabindex="-1">
			  <div class="modal-dialog">
			    <div class="modal-content">
			
			      <div class="modal-header">
			        <h6 id="modalTitle" class="modal-title">入庫予定登録</h6>
			        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			      </div>
			
			      <div class="modal-body">	
			        <form id="inboundScheduleForm">
						
			          <input type="hidden" id="modalInboundScheduleId">
			          <input type="hidden" id="modalVersion">
			          
			          <div class="mb-3 form-field position-relative">
						  <label>商品キーワード</label>
						  <input type="text" class="w-200" id="modalProductKeyword" autocomplete="off">
						  <ul id="modalProductSuggestList" class="list-group position-absolute top-100 start-0 w-200" style="z-index:1060;"></ul>
					  </div>
					  
					  <div class="mb-3 form-field">
						  <label class="required">商品</label>
						  <input type="text" class="w-200 " id="modalProduct" disabled>
						  <input type="hidden" id="modalProductId">
					      <div class="field-error" id="productIdError"></div>
					  </div>
			          
			          <div class="mb-3 form-field">
						  <label class="required">倉庫</label>
						  <select class="form-select w-240"  id="modalWarehouse">
							  	<option th:each="warehouse : ${warehouses}" th:value="${warehouse.warehouseId}">
								  [[${warehouse.warehouseCode} + ' ' + ${warehouse.name}]]
								</option>
						  </select>
					      <div class="field-error" id="warehouseIdError"></div>
					  </div>
					  
					  <div class="mb-3 form-field">
						  <label class="required">予定数量</label>
						  <input type="number" class="w-80 " id="modalScheduleQty">
					      <div class="field-error" id="scheduleQtyError"></div>
					  </div>
					  
					  <div class="mb-3 form-field">
						  <label class="required">予定日</label>
						  <input type="date" class="w-140 " id="modalScheduleDate">
					      <div class="field-error" id="scheduleDateError"></div>
					  </div>
					  
			        </form>
			      </div>
			
			      <div class="modal-footer">
			        <button class="btn main-btn" onclick="saveInboundSchedule()">保存</button>
			        <button class="btn grey-btn" data-bs-dismiss="modal">閉じる</button>
			      </div>
			
			    </div>
			    </div>
			  </div>
			  
			  <!-- モーダル -->
				<div class="modal fade" data-bs-backdrop="static" id="inboundResultModal" tabindex="-1">
				  <div class="modal-dialog">
				    <div class="modal-content">
				
				      <div class="modal-header">
				        <h6 id="modalTitle" class="modal-title">入庫実績登録</h6>
				        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				      </div>
				
				      <div class="modal-body">	
				        <form>
							
				          <input type="hidden" id="modalInboundScheduleId">
				          <input type="hidden" id="modalVersion">
						  
						  <div class="mb-3 form-field">
							  <label>商品</label>
							  <label  id="modalProduct">
						  </div>
				          
				          <div class="mb-3 form-field">
							  <label>倉庫</label>
							  <label  id="modalWarehouse">
						  </div>
						  
						  <div class="mb-3 form-field">
							  <label>予定数量</label>
							  <label  id="modalScheduleQty">
						  </div>
						  
  						  <div class="mb-3 form-field">
							  <label>予定日</label>
							  <label  id="modalScheduleDate">
						  </div>
						  
  						  <div class="mb-3 form-field">
							  <label>入庫済数量</label>
							  <label  id="modaTotalResultQty">
						  </div>
						  
						  <div class="mb-3 form-field">
							  <label class="required">入庫数量</label>
							  <input type="number" class="w-80 " id="modalResultQty">
						      <div class="field-error" id="resultQtyError"></div>
						  </div>
						  
				        </form>
				      </div>
				
				      <div class="modal-footer">
				        <button class="btn main-btn" onclick="saveInboundSchedule()">保存</button>
				        <button class="btn grey-btn" data-bs-dismiss="modal">閉じる</button>
				      </div>
				
				    </div>
				    </div>
				    </div>
		</main>
		
		<!-- フッター -->
		<div th:replace="~{common/footer :: footer-fragment}"></div>
		
		<!-- アラート -->
		<div th:replace="~{common/alert :: alert-fragment}"></div>
		
	</body>
</html>